.about{
    margin-top: 100px !important;
    margin-bottom: 150px;
    h5{
        color: white !important;
            
    }
    h5:hover{
        text-decoration: underline !important;
            cursor: pointer;
    }
}