nav{
    .logo_img{
        width: 120px;
        // height: 100px;
    }
    .btn-design{
        border: 1px solid #EC973D;
        color: white;
    }
    .btn-design:hover{
        background: #EC973D;
        color: white;
    }
}