#order_section{
    .order{
        margin-top: 80px;
        margin-bottom: 80px;
        img{
            height: 320px;
            width: 320px;
        }
        .img-thumbnails{
            border: 5px solid #534d4d;
        }
        .order_design{
            background: #EC973D;
            color: white;
            display: inline-block;
            border-radius: 12px;
        }
        .from-group2{
            .input2{
                width: 180px;
                height: 40px;
                outline: none;
                font-size: 15px;
                border: none;
                border-radius: 8px;
                // border-top-left-radius: 5px;
                // border-bottom-left-radius: 5px;
            }
            input[type=text]
            {
                padding-left: 15px;
            }
            .btn{
                color: white;
                outline: none;
                height: 40px;
                width: 180px;
                font-size: 20px;
                border: none;
                overflow: hidden;
                border-radius: 8px;
                // border-top-right-radius: 5px;
                // border-top-left-radius: 0 !important;
                // border-bottom-left-radius: 0 !important;
                // border-bottom-right-radius: 5px;
                // margin-left: -5px;
                // margin-top: -8px;
            }
            .btn:hover i{
                color: white;
            }
            .pink{
                background: #EC973D;
            }
    
            }

    }
    textarea{
        border-radius: 8px;
        outline: none;
        padding: 5px;
        border-style: none;
    }
}